---
import ShaderEditor from "../ShaderEditor.svelte";

import dedent from "dedent";
---

<section id="getting-started">
  <h1>GETTING STARTED</h1>
  <p>
    Penumbra is a Hack Club YSWS, where you create a shader,
    and we print you a poster of it, free of charge!

    What you will be writing is called a “fragment” shader.
    For each pixel coordinate, it will return its color!
  </p>

  <ShaderEditor initialCode={dedent`
    // Input: coordinate, output: RGB color
    vec3 fn(vec2 coord) {
        // As we go further to the right, increase the red value. 
        return vec3(coord.x, 0, 0);
    }
  `} client:load />
</section>

<style lang="scss">
  section {
    color: white;
    font-size: 1.5em;
    padding: 2em 4em;
  }
</style>
