---
import homeContainer from "../../assets/home-container.svg?raw";
---

<section>
  <div id="fg">
    <div id="main-container" class="overlaid">
      <Fragment set:html={homeContainer} />
    </div>
  </div>

  <pre id="bg" aria-hidden="true" is:raw>
    const float RAYMARCH_MIN_DIST = 0.3;
    const float RAYMARCH_MAX_DIST = 50.0;
    const float RAYMARCH_HIT_CUTOFF = 0.001;
    const int RAYMARCH_MAX_ITERS = 32;
    const float CAMERA_FOV = 0.3;
    const vec3 LIGHT_POS = vec3(-2.0, 2.0, -1.0);
    const float PI = 3.14159265358979323846;
    const float DEG2RAD = PI / 180.0;
    const float ANIM_SPEED = 1.0;
    float clamp01(float x) { return clamp(x, 0.0, 1.0); }
    vec3 clamp01(vec3 x) { return clamp(x, 0.0, 1.0); }
    vec3 rotateX(vec3 p, float a) {
      float c = cos(a), s = sin(a);    
      return vec3(p.x, c * p.y - s * p.z, s * p.y + c * p.z);    
    }
    vec3 rotateY(vec3 p, float a) {
      float c = cos(a), s = sin(a);    
      return vec3(c * p.x + s * p.z, p.y, -s * p.x + c * p.z);    
    }
  </pre>
</section>

<style lang="scss"> 
  section {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #4b0131, #000004);

    mask-image: linear-gradient(white), url("/public/vectors/home-container-mask.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100vw;
    mask-composite: exclude;
  }

  #fg, #bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  #fg {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .overlaid > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  #main-container {
    filter: drop-shadow(0 0 5px #fff);
    width: 85vw;

    & > :global(svg) {
      width: 100%;
    }
  }

  #bg {
    $text-color: #c4210f;
    text-align: right;
    font-family: Nothing, monospace;
    font-size: 2em;
    padding: 1.5em;
    pointer-events: none;
    color: rgba($text-color, 0.25);
    filter: drop-shadow(0 0 5px rgba($text-color, 0.25));
  }
</style>
