---
import DocumentSection from "../DocumentSection.astro";

import ImgKishimisuArtCoding from "../../assets/img/kishimisu-art-coding.jpg";
import ImgKishimisuRaymarching from "../../assets/img/kishimisu-raymarching.jpg";
import { Image } from "astro:assets";
---

<DocumentSection id="resources-and-guides">
  <h1>resources & guides.</h1>
  <p class="no-anim">
    If you ever are stuck, don't be afraid to ask in the <a class="fat" href="https://hackclub.slack.com/archives/C09EC7ZS05S" target="_blank">#penumbra</a>
    Slack channel. For inspiration, take a look at <a href="https://www.shadertoy.com/results?sort=newest" target="_blank"><em>ShaderToy's Browse</em></a>
    tab! It's full of fancy shaders, all with code!
  </p>

  <p>
    If you're just starting out, or need a refresher, watch kishimisu's fantastic introduction
    to the world of making art with shaders! 
  </p>

  <ul class="card-list">
    <li class="no-glow">
      <a href="https://www.youtube.com/watch?v=f4s1h2YETNY" target="_blank">
        <div class="card">
          <div class="thumbnail">
            <Image src={ImgKishimisuArtCoding} aria-hidden alt="Thumbnail" />
          </div>

          <div class="content no-anim">
            <h3>An introduction to Shader Art Coding</h3>
            <p>The basics of how GLSL and shaders work, and how to make art with them</p>
          </div>
        </div>
      </a>
    </li>

    <li class="no-glow">
      <a href="https://www.youtube.com/watch?v=khblXafu7iA" target="_blank">
        <div class="card">
          <div class="thumbnail">
            <Image src={ImgKishimisuRaymarching} aria-hidden alt="Thumbnail" />
          </div>

          <div class="content no-anim">
            <h3>An introduction to Raymarching</h3>
            <p>Explains how to render 3D objects via ShaderToy.</p>
          </div>
        </div>
      </a>
    </li>
  </ul>

  <p>
    If you're interested in 3D raymarching, these might come in handy:
  </p>

  <ul class="bullet-list">
    <li><a href="https://www.shadertoy.com/view/wclyzf" target="_blank"><em>ShaderToy raymarching template</em></a></li>
    <li><a href="https://iquilezles.org/articles/distfunctions/" target="_blank"><em>Inigo Quilez's SDFs (3D shapes) for raymarching</em></a></li>
  </ul>
</DocumentSection>

<style lang="scss">
  a {
    color: white;

    &.fat {
      color: black;
      background: white;
      padding: 0 2px;
    }
  }

  .resources-directory {
    display: flex;
    flex-direction: column;
    gap: .25em;
  }
  
  .card-list {
    list-style-type: none;

    li:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  details {
    summary {
      cursor: pointer;
    }

    ul {
      margin-top: .25em;
    }
  }

  .card {
    display: flex;
    gap: 1em;
    padding: .5em;
    transition: transform .25s;

    &:hover {
      transform: translateX(8px);
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;

      .content {
        display: flex;
        flex-direction: column;
        gap: .5em;
      }
    }
    
    h3, p {
      margin: 0;
    }

    h3 {
      font-size: 1.25em;
    }

    .thumbnail {
      display: flex;
      align-items: center;

      img {
        width: min-content;
        height: 3em;
        object-fit: contain;
      }
    }
  }
</style>
