---
import DocumentSection from "../DocumentSection.astro";
---

<DocumentSection id="submit">
  <h1>submit.</h1>
  <p>Before you submit - make sure you:</p>
  <ul>
    <li>joined our Slack</li>
    <li>measured your coding time with Hackatime</li>
    <li>have your shader published on ShaderToy AND a Git repository</li>
  </ul>

  <p class="no-anim">
    You'll need to work <em>at least 5 hours</em> on your shader for it to qualify to get a free poster.
  </p>

  <a class="btn" href="https://submit.hackclub.com/penumbra" target="_blank">SUBMIT A SHADER</a>

  <p class="no-anim">
    If you have 25 or more hours of work in total, you are eligible to get a free GPU!
  </p>

  <a class="btn" href="https://forms.hackclub.com/penumbra-redeem" target="_blank">REQUEST A GPU</a>
</DocumentSection>
