---
import DocumentSection from "../DocumentSection.astro";
import ShaderEditor from "../ShaderEditor.svelte";
import Jargon from "../Jargon.svelte";

import dedent from "dedent";
---

<DocumentSection id="submit">
  <h1>submit.</h1>
  <p>
    Fillout link here!
  </p>
</DocumentSection>
