---
import Home from "../components/sections/Home.astro";
import GettingStarted from "../components/sections/GettingStarted.astro";
import ResourcesAndGuides from "../components/sections/ResourcesAndGuides.astro";
import Submit from "../components/sections/Submit.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Penumbra :: Hack Club</title>
  </head>
  <body>
    <Home />

    <section>
      <GettingStarted />
      <ResourcesAndGuides />
      <Submit />
    </section>

    <canvas id="shader" />
  </body>
</html>

<style lang="scss" is:global>
  * {
    box-sizing: border-box;
    overscroll-behavior: none;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-weight: normal;
  }

  html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #000;
  }

  @font-face {
    font-family: Nothing;
    src:
      url("/fonts/nothing.ttf") format("truetype"),
      url("/fonts/nothing.otf") format("opentype");
  }

  @font-face {
    font-family: Kleemax;
    src: url("/fonts/kleemax.otf") format("opentype");
  }

  body {
    font-family: Nothing, monospace;

    & > section {
      position: absolute;
      z-index: 1;
    }

    & > #shader {
      position: fixed;
    }

    & > section:nth-of-type(1) { top: 0vh; }
    & > section:nth-of-type(2) { top: 100vh; }

    & > * {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
</style>

<script src="../scripts/shader.ts" />
